@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    height: 100%;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(44, 93, 42);
    padding: 15px 10px;
    z-index: 10;
}
header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10%;
}
header .navigation li {
    list-style: none;
    margin: 0 10px;
    justify-content: space-between;
}
header .navigation li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;

}
header li a:hover {
    color: coral;
}
header img {
position: relative;
}
.banner {
background-color:rgb(75, 117, 75);
padding: 190px 100px 10px;
min-height: 100vh;
display: flex;
justify-content: space-between;
align-items: center;
}
.banner .content h2 {
    font-size: 3em;
    color: white;
}
.banner .content p {
    color: white;
    font-size: 1em;
}
.banner .image {
    position: relative;
margin-left: 30px;
right: -90px;
}

.container {max-width: 1170px;
    
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(250, 250, 250);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer {
    background-color: rgb(44, 93, 42);
    position: relative;
    clear:both;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 50px 0;
    color: white;
}
.footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
 }
 .footer ul {
    list-style: none;
 }
 .footer li a:hover {
    color: coral;
}
.footer img {
position: absolute;
right: 20px;
top: 10px;

}

